{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'randish/css/style.css'%}">
</head>
<body>

<header>
    <a href="/"><h1 class="logo">LOGO</h1></a>

</header>

{% block content %}

{% if user.is_authenticated %}
    <h3>Привет {{ user.username }}</h3>
    <a href="logout">Выйти</a>
{% else %}
    <a href="sign_up">Зарегистрироваться </a><br><br>
    <a href="sign_in">Войти</a>
{% endif %}

{% endblock %}


</body>
</html>