{% extends 'registration.html' %}

{% block title %} Войти {% endblock %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}

    <div class="registration">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center box">

                {% for field in form %}

                <!-- <label for="">{{ field.label }}</label> -->

                {{ field }}

                {% if field.errors %}

                <p>{{field.errors}}</p>

                {% endif %}

                {% endfor %}

                <button class="submit-button" type="submit">Войти</button>

            </div>
            <div class="col-sm-4"></div>    
        </div>
    </div>

</form>

{% endblock %}