{% extends 'Index.html' %}

{% block title %} О нас {% endblock %}

{% block content %}


<div class="row about">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center box">
        <h2>Lorem ipsum dolor sit amet</h2>

        Consectetur adipisicing elit. Sapiente, repellat amet quis cumque commodi illo ipsa quia ex voluptate itaque provident temporibus ab voluptas delectus recusandae. Quibusdam excepturi, minus similique.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, debitis. Saepe debitis quia harum, libero rem nobis beatae? Quae quis labore, architecto accusantium repellendus laudantium modi aut nihil! Vero, ullam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis at fugit laudantium, incidunt doloribus deserunt ex ea dolorem, impedit quidem animi! Magnam quisquam modi, aliquam totam fuga culpa incidunt aspernatur.


        Consectetur adipisicing elit. Sapiente, repellat amet quis cumque commodi illo ipsa quia ex voluptate itaque provident temporibus ab voluptas delectus recusandae. Quibusdam excepturi, minus similique.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, debitis. Saepe debitis quia harum, libero rem nobis beatae? Quae quis labore, architecto accusantium repellendus laudantium modi aut nihil! Vero, ullam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis at fugit laudantium, incidunt doloribus deserunt ex ea dolorem, impedit quidem animi! Magnam quisquam modi, aliquam totam fuga culpa incidunt aspernatur.

        Lecusandae. Quibusdam excepturi, minus similique.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, debitis. Saepe debitis quia harum, libero rem nobis beatae? Quae quis labore, architecto accusantium repellendus laudantium modi aut nihil! Vero, ullam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis at fugit laudantium, incidunt doloribus deserunt ex ea dolorem, impedit quidem animi! Magnam quisquam modi, aliquam totam fuga culpa incidunt aspernatur.
    </div>
    <div class="col-sm-3"></div>    
</div>

{% endblock %}