{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Randish</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'randish/css/style.css'%}">


</head>
<body>

{% block content %}

<div class="wrapper">


    <h1>{{ dish_id.dish_name }}</h1>
    <h4>({{ dish_id.dish_type }})</h4>

        <div class="image" style="background-image: url(../../{{ dish_id.image }});">
            <p>Ингредиенты:</p>
            <ul>
            {%for ingr in ingr_by_dish %}
                <li>{{ ingr.ingredient_name }}</li>
            {% endfor %}
            </ul>
        </div>

    <a href="reload" id="reload_button">Случайное блюдо</a>
</div>




<div class="test">

</div>

<script>
$(document).ready(function(){


$('#reload_button').on('click', function(e){
			e.preventDefault();
			$.ajax({
				method: 'Get',
				url: $(this).attr('href'),
				data: "",
				dataType: 'json',
				success: function(data){

                console.log(data);

                $('.wrapper ul').html("");

                var h1 = "<h1>" + data.daily_dishes[0].dish_name + "</h1>";
                var h4 = "<h4>(" + data.daily_dishes[0].dish_type + ")</h4>";

                var image = "url('../../" + data.daily_dishes[0].image + "')";

                console.log(image);

                 for(var i = 0; i < data.ingr_by_dish.length; i++) {
                    var li = "<li>" + data.ingr_by_dish[i].ingredient_name + "</li>";

                    $('.wrapper ul').append(li);
                 }







                $('.wrapper h1').html(h1);
                $('.wrapper h4').html(h4);
                $('.wrapper .image').css("background-image", image);

            }
        })
});

})


</script>






{% endblock %}

</body>
</html>