{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>{% block title %}Randish{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'randish/css/style.css'%}">
</head>
<body>
<div class="container-fluid">
<!-----------------------------HEADER------------------------------->
	<header>
	    <div class="row">
	        <div class="col-sm-2">
	             <div class="logo">
	                <a href="/"><img src="{% static 'randish/image/logo.png'%}"></a>
	            </div>
	        </div>
		<!------------------------------MENU---------------------------------->
	        <div class="col-sm-8">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">☰</button> 
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ml-auto">
			
			{% if user.is_authenticated %}

            <li class="nav-item"> <a class="nav-link" href="../add/">добавить</a>
            </li>
            <li class="nav-item"> <a class="nav-link" href="../filtered-list/">подобрать блюдо</a>
            </li>
            <li class="nav-item"> <a class="nav-link" href="../about/">о проекте</a>
            </li>
            </li>
            
			{% endif %}

        </ul>
    </div>
</nav>		 
	        </div>
		<!----------------------------END MENU--------------------------------->
























		<!---------------------------USER ACCOUNT------------------------------>
	        <div class="col-sm-2 acc">

	        	<!-- IF USER IS AUTHENTICATED -->
	            {% if user.is_authenticated %} 
	            
	            <div class="account text-center">

	        		<h5>{{ user.username }}</h5>

	                <p><a href="../registration/logout">Выйти</a></p>
	            </div>
	        </div>
		<!-------------------------END USER ACCOUNT------------------------------>
	    </div>
	</header>
<!-----------------------------------END HEADER------------------------------->

<main>

{% block content %}

<!-------------IF DISH------------->
{% if dish_id %}
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6 dish-image text-center" style="background-image: url(../../{{ dish_id.image }});">
	        <!-- <div class="image-inner"> -->
	            <h1>{{ dish_id.dish_name }}</h1>
	            <h4>({{ dish_id.dish_type }})</h4>
	            <p>Ингредиенты:</p>
	        	<ul>

	        	{% for ingr in ingr_by_dish %}

	                <li>{{ ingr.ingredient_name }}</li>

	        	{% endfor %}

	            </ul>
	            <a href="reload" class="button" id="reload_button">Случайное блюдо</a>
	        <!-- </div> -->
	    </div>
	    <div class="col-sm-3"></div>
	</div>

<!-----------ELSE IF DISH------------->
{% else %}

    <h1 class="text-center">У вас нет блюд,</h1>
    <h5 class="text-center">но вы можете <a href="../add/">добавить</a></h5>


{% endif %}
<!-----------END IF DISH------------->

{% endblock %}

</main>
<!----------END BLOCK CONTENT--------->

<!-- ELSE IF USER IS AUTHENTICATED -->
{% else %}
			</div>
		</div>
	</div>
	<!-----------------------REGISTRATION----------------->
	<div class="registration">
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4 text-center box">
				<h2><a href="../registration/sign-in"">Вход</a></h2>
				<h2><a href="../registration/sign-up">Регистрация</a></h2>	
			</div>
			<div class="col-sm-4"></div>	
		</div>
    </div>
<!-----------------------REGISTRATION------------------------->
{% endif %}
<!-- END IF USER IS AUTHENTICATED -->

<!-----------------------------FOOTER----------------------->
<footer class="font-small fixed-bottom">
<div class="row no-gutters">
	<div class="col-sm-4">
		<ul class="list-unstyled list-inline">
      		<li class="list-inline-item">
        		<a href="https://www.facebook.com/" target="blanc" class="btn-floating btn-fb mx-1">
          		<i class="fab fa-facebook-f"></i>
        		</a>
      		</li>
      		<li class="list-inline-item">
        		<a href="https://www.linkedin.com/" target="blanc" class="btn-floating btn-li mx-1">
          		<i class="fab fa-linkedin-in"></i>
        		</a>
      		</li>
    	</ul>
	</div>
	<div class="col-sm-8">
	    <div class="footer-copyright py-2">© 2018 Copyright
		<a href="#">RanDish.com</a>
	</div>
	</div>
</div>
</footer>

<!--------------------------END FOOTER----------------------->


</div>


<script src="{% static 'randish/js/script.js'%}" ></script>

</body>
</html>