{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>{% block title %}Randish{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'randish/css/style.css'%}">


</head>
<body>
sdfgdsfsdf
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
             <div class="logo">
                <a href="/">Logo</a>
            </div>
        </div>
        <div class="col-sm-8">

        </div>
        <div class="col-sm-2">12
            <div class="account">
                {% if user.is_authenticated %}
                <h3>Привет {{ user.username }}</h3>
                <p><a href="../registration/logout">Выйти</a></p>
            </div>
        </div>

    </div>


<header>





    <nav>
        <a href="../add/">Добавить |</a>
        <a href="../filtered-list/">Подобрать блюдо |</a>
        <a href="../registration/">Регистрация |</a>
    </nav>

</header>





{% block content %}

<div class="wrapper">
    <div class="image" style="background-image: url(../../{{ dish_id.image }});">
        <div class="image-inner">
            <h1>{{ dish_id.dish_name }}</h1>
            <h4>({{ dish_id.dish_type }})</h4>
                    <p>Ингредиенты:</p>
            <ul>
            {%for ingr in ingr_by_dish %}
                <li>{{ ingr.ingredient_name }}</li>
            {% endfor %}
            </ul>

            <a href="reload" id="reload_button">Случайное блюдо</a>
        </div>




    </div>
</div>



{% endblock %}





<footer>
    <h1>Footer</h1>
</footer>


{% else %}
    <a href="../registration/sign_up">Зарегистрироваться </a><br><br>
    <a href="../registration/sign_in"">Войти</a>
{% endif %}

<script src="{% static 'randish/js/script.js'%}" ></script>

</div>

</body>
</html>