{% extends 'Index.html' %}

{% block title %} Добавить блюдо {% endblock %}


{% block content %}













<div class="registration margi-bottom">
	<div class="row">
		<div class="col-sm-4"></div>
			<div class="col-sm-4 text-center box">

				{% if messages %}
				    {% for message in messages %}
				        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
			    	{% endfor %}
				{% endif %}

				<form action="add-ingredients/" method="post" enctype="multipart/form-data" id="add-ingr-html-form">{% csrf_token %}

					{{ form_for_ingredients.ingredient_name }}

				    <input class="submit-button" type="submit" value="Добавить">
				</form>

				<form action="add-dish/" method="post" enctype="multipart/form-data">{% csrf_token %}

					{{ form_for_dish.dish_name }}
					{{ form_for_dish.dish_type }}
					{{ form_for_dish.ingredients }}
					{{ form_for_dish.image }}
					<label class="" for="file">
						<i class="fas fa-upload"></i> Загрузить фото
					</label>
					



				    <input class="submit-button" type="submit" value="Добавить">
				</form>
	
			</div>
		<div class="col-sm-4"></div>	
	</div>
</div>





{% endblock %}



