{% extends 'Index.html' %}

{% block title %} Add {% endblock %}


{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}



<h3>Add Ingredients</h3>

<form action="add-ingredients/" method="post" enctype="multipart/form-data" id="add-ingr-html-form">{% csrf_token %}
    {{ form_for_ingredients.as_p }}
    <input type="submit" value="Submit">
</form>

<h3>Add Dish</h3>

<form action="add-dish/" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form_for_dish.as_p }}
    <input type="submit" value="Submit">
</form>



{% endblock %}



