body {
    background: url(../image/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: #dadada;
}

.container-fluid {
 
}



header {
    margin-top: 15px;
}

h5 a {
    color: tomato;
}

.dish-image {
    margin-top: 100px;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0px 0px 400px rgba(0,0,0,0.6);
    color: #fff;
    padding-top: 5%;
}

.dish-image p {
    margin-bottom: 0;
}

#reload_button {
    background: tomato;
    color: white;
    font-size: 16px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.3);
    padding: 15px 32px;
    display: inline-block;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}


#reload_button:active {
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,.3);
    transform: translateY(1px);
    font-size: 98%;
    left: 50%;
    transform: translateX(-50%);
}

a {
  color: #dadada;
  text-decoration: none;
}

.logo a img {
  width: 200px;
}

.nav-link:focus, .nav-link:hover, a:hover {
    color: tomato;
    text-decoration: none;
}

.nav {
   margin: 0 auto; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer {
    background: #060508;
    box-shadow: 0px 0px 20px 10px #060508;
    padding: 0 15px;
}

main {
    margin-bottom: 60px;
}


.registration {
    margin-top: 100px;

}

.registration a {
    color: #fff;
    margin-bottom: 15px;
    text-shadow: 2px 2px 2px #fff;
    text-shadow: 0px 0px 5px #fff
}

.registration a:hover {
    color: tomato;
    text-shadow: none;
}

.registration input, .submit-button, .registration select {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}

select {
    border: 1px solid transparent;
    cursor: pointer;
}

select#id_ingredients {
    height: 200px;
    background: rgba(255,255,255,.6);
}


.submit-button {
    display: block;
    background: tomato;
    border: 1px solid transparent;
    color: #fff;
}

.submit-button:hover {
    opacity: .9;
    cursor: pointer;
}

.margi-bottom {
    margin-bottom: 190px;
}

.alert {
    background: none;
    border: none;
    padding: 0;
}

.alert-success {
    color: #61c561;
}

.alert-info {
    color: #ef6f6f;
}
/*
.filter-list-item {
    margin-bottom: 15px;
}
*/

.wrapper li {
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid rgba(255,255,255,.4);
}






#id_image {
    width: 100%;
    height: 50px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
}

#id_image + label {
    background: #fff;
    color: #757597;
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.wrapper img {
    width: 80%;
}

.about, .mt-100 {
    margin-top: 100px;
    
}
.about h2 {
    color: tomato;
}



.filter input[type=checkbox] {
    display: none;
}


.filter input:checked + label {
    background: tomato;
}

.account {
    border: 1px solid rgba(255,255,255,.2);
}

.account p {
    margin-bottom: 0;
}

.footer-copyright {
    text-align: right;
}

.navbar-dark {
    background: transparent !important;
}

.navbar-dark .navbar-toggler, .navbar-dark .navbar-nav .nav-link {
    color: #dadada !important;
}

.navbar-dark .navbar-toggler, .navbar-dark .navbar-nav .nav-link:hover {
    color: tomato !important;
}












@media screen and (max-width: 600px) {
    .dish-image {
        margin-top: 0;
        height: 300px;
        padding-top: 5%;
    }

    body {
        background: url(../image/background_mobile.png);
        background-repeat: no-repeat;
        background-attachment: fixed; 
   } 

   .acc {
        position: absolute;
        width: 20%;
        top: 5px;
        right: 5px;  
        font-size: 14px; 
        padding: 0;  
   }

   .account h5 {
        display: none;
   }

    footer .col-sm-4, .footer-copyright {
    text-align: center;
}

.about .box p {
    padding: 0 10px;
}

.logo {
    text-align: center;
}




}



